@media(min-width:800px)
{
    .news-input
    {
        width: 50%;
    }

}
.news-input
{
    margin: 2%;
}
body::before
{
    display: block;
    content: '';
    height: 50px;
    background-color: black;
}